.bg {
    align-items: center;     
    padding-top: 130px;
    height: 92%;
    width: 100%;
    background-image: url("/assets/su30.png");
    background-size: cover;
}

.title {
    font-weight: bold;
      color: black;
      padding-bottom: 10px;
      font-size: xx-large;
}